<%- include('./layout/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur molestias veritatis officia! Nam rem eum fuga consequuntur quasi neque voluptas ex cumque ea vel est perferendis delectus natus, doloremque consectetur?</p>
  </ol>
</div>



<%- include('./layout/footer') %>